In [1]:
import pandas as pd, numpy as np

In [16]:
# Import the dataset on tasers
tasers = pd.read_excel("data/2015 Reported Taser Data.xlsx", header=[0,1])

In [17]:
# Take a look at the data
tasers.head(3)

Law Enforcement Agency Number of Incident Reports Incident Case Number  \
                               Unnamed: 0_level_1   Unnamed: 1_level_1
Hartford                                        1             2015-055
Naugatuck                                       1                15-19
Norwalk                                         1             15-00010

Law Enforcement Agency   Date of Incident   Time of Incident  \
                       Unnamed: 2_level_1 Unnamed: 3_level_1
Hartford                       2015-01-01           15:13:00
Naugatuck                      2015-01-01           03:48:00
Norwalk                        2015-01-01           00:32:00

Law Enforcement Agency                Sex               Race  \
                       Unnamed: 4_level_1 Unnamed: 5_level_1
Hartford                             Male              Black
Naugatuck                            Male              Black
Norwalk                              Male              White

Law Enforcement Agency           Hispanic             Height  \
                       Unnamed: 6_level_1 Unnamed: 7_level_1
Hartford                            False              5'10"
Naugatuck                           False               5'8"
Norwalk                             False              5'10"

Law Enforcement Agency             Weight                Age  \
                       Unnamed: 8_level_1 Unnamed: 9_level_1
Hartford                              220                 34
Naugatuck                             150                 26
Norwalk                               175                 22

Law Enforcement Agency                 ...                  \
                                       ...
Hartford                               ...
Naugatuck                              ...
Norwalk                                ...

Law Enforcement Agency Subject Resistance Resulting in Application of Force  \
                                                     Threaten Use of Weapon
Hartford                                                              NaN
Naugatuck                                                             NaN
Norwalk                                                               NaN

Law Enforcement Agency                                             \
                       Fleeing Unarmed Assault Armed with Firearm
Hartford                   NaN             NaN                NaN
Naugatuck                  NaN             NaN                NaN
Norwalk                    NaN             NaN                NaN

Law Enforcement Agency                                                      \
                       Armed with Edged Weapon Armed with Blunt Instrument
Hartford                                   NaN                         NaN
Naugatuck                                  NaN                         NaN
Norwalk                                    NaN                         NaN

Law Enforcement Agency                                                        \
                       Armed with Other Failed to Follow Directions Suicidal
Hartford                            NaN                         NaN        1
Naugatuck                           NaN                         NaN      NaN
Norwalk                             NaN                           1      NaN

Law Enforcement Agency
                                                     Other
Hartford                                               NaN
Naugatuck               Touching Officer with bloody hands
Norwalk                                                NaN

[3 rows x 68 columns]

In [32]:
# It looks like the columns are messed up. The first few are in the first row, 
# but then they are in the second row after that.

cols = []
for i in range(len(tasers.columns)):
    top = tasers.columns.get_level_values(0)[i]
    bottom = tasers.columns.get_level_values(1)[i]
    if "Unnamed: " in bottom:
        cols.append(top)
        print top
    else:
        cols.append(top + "_" bottom)
        print bottom
        
print cols

SyntaxError: EOL while scanning string literal (<ipython-input-32-0ff4a7570263>, line 12)